/* Estilos de barra de navegacion */
.nav-bar{
  background-color: rgba(0, 0, 255, 45%);
  height: 50px;
  border-radius: 15px;
  padding-bottom:5px;
}
.nav-bar div{
  display: inline;
  position: absolute;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: black;
  font-family: 'Merriweather', serif;
  
}
.nav-bar ul{
  position: absolute;
  right: 5px;
}
.nav-bar ul li{
  display: inline-block;
}
.nav-bar ul li a{
  padding: 5px;
  font-size: 12px;
  font-weight: bolder;
  color: black;
  font-family: 'Merriweather', serif;
}


@media (max-width:535px){
  .nav-bar div {
    display: none;
  }
  .nav-bar ul {
    position: relative;
    top: 15px;
    right: 80%;
    left: 20%;
  }
  .nav-bar ul li a{
    font-size: 50%;
  }
}



/* Estilo para el fondo de Home */
 .home{
  background-image: url("../img/backgroundhome_1920.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border-radius: 15px;
 }
/* Estilo para el texto en Home */
.text-container{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Merriweather', serif;
}
.feedcontainer{
  background-color: rgb(170, 247, 221);
  background-size: 100%;
  border-radius: 15px;
  margin-top: 5px;
}
.feed{
  display: flex;
  justify-content: space-between;
  align-content: center;
}
#marca{
  padding: 5%;
  font-weight: bolder;
  font-family: 'Merriweather', serif;
  font-size: 30px;
}
#social, #aviso {
  padding: 5%;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

@media (max-width:535px) {
  .home{
    background-image: url("../img/Antique-car-movil_460px.png");
    background-size: 100vh;
    background-attachment: inherit;
  }
  .text-container{
    color:  rgb(25, 0, 252);
  }
  
}
@media (min-width:535px) and (max-width:980px) {
  .home{
    background-image: url("../img/backgroundhome_800.png");
  }
}
@media (max-width: 680px){
  .feed{
    display: flex;
    flex-direction: column;
  }
}


/* EMPIEZA ABOUT US */
/* Colocamos un fondo a la pagina */
.nav-bar-about{
  background-color: rgba(0, 0, 255, 45%);
  height: 50px;
  border-radius: 15px;
  padding-bottom:5px; 
}
.nav-bar-about div{
  display: inline;
  position: absolute;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: black;
  
}
.nav-bar-about ul li{
  display: inline-block;
}
.nav-bar-about ul li a{
  padding: 5px;
  font-size: 12px;
  font-weight: bolder;
  color: black;
}
.aboutUs{
  background-image: url("../img/background-about.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.nav-bar-about ul{
  position: absolute;
  right: 5px;
}

@media (max-width: 535px) {
  .nav-bar-about div{
    display: none;
  }
  .nav-bar-abaout ul{
    position: relative;
    top: 15px;
    right: 90%;
    left: 10%;
  }
  .nav-bar-about ul li a{
    font-size: 50%;
  }
}



/* Ajustamos todo para que quede centrado y colocamos un fondo
para que las letras blancas se resalten y se pueda ver */
.aboutcontent{
  background-color: rgba(0, 0, 0, 50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
}

.aboutcontent h1{
  text-align: center;
  color: white;
}
.aboutcontent p{
  justify-content: center;
  color: white;
}


/* Comenzamos con el estilo de la pagina de servicios */
.services-content h1{
  text-align: center;
  font-size: 35px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-container{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

#engine{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  height: auto;
  width: 25%;
  text-align: center;
}
#paint{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  height: auto;
  width: 25%;
  text-align: center;
}
#wax{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  height: auto;
  width: 25%;
  text-align: center;
}
#sillon{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  height: auto;
  width: 25%;
  text-align: center;
}

@media (max-width: 1450px){
  .card-container{
    display: block;
  }
  #engine, #paint, #wax, #sillon {
    width: 100%;
  }
}
.box{
  box-shadow:  0px 1px 0px 1px rgba(0, 0, 0, 15%);
  padding: 0;
  border: 0;
}
.contact-container{
  margin-top: 150px;
  position: block;
  text-align: center;
  height: 385px;
}


